.button {
	width: 392px;
	height: 44px;
	outline: none;
	border: none;
	background-color: #000;
	cursor: pointer;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 12px;
}
