.root {
  display: flex;
  padding: 15px 15px 40px 15px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: var(--background-color-2, #F7F7F7);
}

.title {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  font-variant: all-small-caps;
}

.warn {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  font-variant: all-small-caps;
  letter-spacing: -0.3px;
}