.MyModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  @media(max-width: 550px) {
    display: none;
  }
}

.MyModalContent {
  display: flex;
  width: 600px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background-color: white;
  transition: 0.5s all;
  @media(max-width: 770px) {
    display: none;
  }
}

.MyModal.active {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {

  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.id {
  color: var(--card-primary, #000);
  text-align: center;
  font-size: 17px;

}

.data {
  color: var(--card-primary, #000);
  text-align: center;
  font-size: 14px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
  flex: 1 0 0;
  color: var(--card-primary, #000);
  text-align: right;

}

.orders {
  display: flex;
  padding: 0px 30px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

