.title {
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0 50px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrap {
  position: relative !important;
  height: 100vh !important;
  overflow: hidden !important;
}

.footerMobile {
  display: none;
  padding-top: 10px;
  @media (max-width: 500px) {
    display: flex;
  }
}