.block {
  display: flex;
  height: 240px;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  background: var(--background-color-2, #F7F7F7);
  @media (max-width: 725px) {
    align-self: stretch;
    flex: auto;
  }
}

.tag {
  font-weight: 500;
}

.title {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.line {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  gap: 5px;
  color: #000;
  font-family: Montserrat;
  text-transform: none !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.right {
  font-weight: 300;
}

.green {
  color: green;
}

.frame {
  display: flex;
  padding: 0px 30px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: white;;
  align-self: stretch;
}

.data {
  font-weight: 400;
}

.bottom {
  color: rgba(0, 0, 0, 0.60);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;

  a {
    color: var(--card-action, rgba(0, 0, 0, 0.60));
    text-decoration: none;
  }
}

.red {
  color: red;
}

.order {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    .title {
      color: var(--card-primary, #000);
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      font-variant: all-small-caps;
      letter-spacing: -0.3px;
    }

    .date {
      color: var(--card-primary, #000);
      text-align: center;
      font-family: Montserrat;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 12px */
      font-variant: all-small-caps;
      letter-spacing: -0.3px;
    }
  }

  .right {
    color: var(--card-primary, #000);
    text-align: right;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    font-variant: all-small-caps;
    letter-spacing: -0.3px;
    display: flex;
    align-self: stretch;
  }
}