.wrapper {
  position: fixed;
  top: 70px;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  z-index: 30;
  padding: 40px;
}


.items {
  overflow-y: auto;
  overflow-x: hidden;
  height: 40vh;
  background-color: #fff;
}

.makeOrder {
  display: flex;
  flex-direction: column;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px 0;
}

.tPrice {
  font-weight: 500;
}