.count {
  position: absolute;
  top: -14px;
  border-radius: 100%;
  border: 2px solid #000;
  right: -14px;
  height: 28px;
  width: 28px;
  text-align: center;
  font-weight: bold;
  z-index: 200;
  font-size: 11px;
  padding-top: 4px;
  background-color: #fff;
}