.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.inputs {
  width: 100%;
  justify-content: space-between;
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 48% 48%;
  gap: 30px;
  @media (max-width: 700px) {
    justify-content: space-between;
    grid-template-columns: 100%;
  }
}
.form {
  width: 100%;
}
.title {
  color: var(--input-label, #000);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.input {
  outline: none;
  height: 44px;
  display: flex;
  padding: 12px 12px 12px 12px;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--input-border-default, #999);
  background: var(--input-background, #FFF);
  &:hover {
    border: 1px solid var(--input-border-focus, #000);
  }
  &:focus {
    border: 1px solid var(--input-border-focus, #000);
  }
}
.prov {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}


.error {
  border: 1px solid #B00000;
  background: var(--input-background, #FFF);
}
.txt {
  color: #B00000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.bot {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 10px;
  justify-content: space-between;
  @media (max-width: 700px) {
    grid-template-columns: 25% 25% 25%;
  }
}

.all {
  position: relative;
}

.select {
  position: absolute;
  top: 115%;
  z-index: 10;
  left: 0;
  background-color: #fff;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  li {
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    font-size: 12px;

    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #F7F7F7;
    }

    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
