.wrapper {
	background-color: black;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blocks {
	display: flex;
	height: 96px;
	.leftBlock {
		margin-right: 160px;
	}

	.linkItem {
		display: flex;
		text-decoration: none;
		cursor: pointer;
		height: 24px;
		align-items: center;
		margin-bottom: 12px;
		.link {
			color: #fff;
			margin-left: 14px;
			font-size: 12px;
			display: flex;
			align-items: center;
			text-decoration: none;
			cursor: pointer;
		}
		.icon {
			display: flex;
			align-items: center;
		}
	}
}
