
.wrapper {
	background-color: black;
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 670px) {
		height: 214px;
	}
}

.blocks {
	display: flex;
	height: 96px;
	justify-content: center;
	@media (max-width: 670px) {
		flex-direction: column-reverse;
	}
	.leftBlock {
		margin-right: 160px;
		@media (max-width: 670px) {
			margin-right: 0;
		}
	}
	.linkItem {
		display: flex;
		text-decoration: none;
		cursor: pointer;
		height: 24px;
		align-items: center;
		margin-bottom: 12px;
		.link {
			color: #fff;
			margin-left: 14px;
			font-size: 12px;
			display: flex;
			align-items: center;
		}
		.icon {
			display: flex;
			align-items: center;
		}
	}
	.rightBlock {
		@media (max-width: 670px) {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 60px;
			margin-bottom: 20px;
		}

		.link {
			@media (max-width: 670px) {
				display: none;
			}
		}
	}
}
