.commonPrice {
  font-weight: 600;
  line-height: 16px;
  font-size: 16px;
}

.wrapper {
  display: flex;
  gap: 15px;
  align-items: center;

 * {
   font-weight: 600;
   font-size: 12px;
 }
}

.salePrice {
  padding: 2px 15px;
  color: #fff;
  height: 20px;
  background: black;
  display: flex;
  align-items: center;
}

.originalPrice {
  color: #C01111;
  text-decoration: line-through;
}

.saleValue {
  color: #C01111;
}