.wrapper {
  width: 100%;
}


.productName {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name {
  font-size: 16px;
  @media (min-width: 1200px) and (max-width: 2600px) {
    font-size: 16px;
  }
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 130%;
}

.price {
  line-height: 100%;
  font-size: 14px;
}