.wrapper {
  background-color: #000000 !important;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  color: #FFFFFF;

  &:hover {
    background-color: #4E4E4E !important;
  }

  &.focused {
    border: 2px solid #9747FF !important;
  }

  &.disabled {
    background-color: #D0D0D0 !important;
    cursor: not-allowed;
  }

  &:active {
    background-color: #292929;
  }
}