.wrapper {
  background-color: #ffffff;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  border: 1px solid #000000 !important;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;

  &.disabled {
    border: 1px solid #D0D0D0 !important;
    color: #D0D0D0;
    cursor: not-allowed;
  }

  &:hover {
    border: 1px solid #4E4E4E !important;
  }

  &.focused {
    border: 2px solid #9747FF !important;
  }
}