.wrap {
  //position: relative;
  //padding-bottom: 56.25%;
  //margin: 0 auto;
  //// max-width: 2560px;
  //pointer-events: none;
  //-o-object-fit: cover;
  //   object-fit: cover;
  //box-shadow: none !important;
  //border: none !important;
  //@media (max-width: 725px) {
  //  display: none;
  //}

  position: relative;
  height: 100vh;
  overflow: hidden;
}

.load {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
  // max-width: 2560px;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none !important;
  border: none !important;

}

.video {
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100% !important;
  //border: none !important;
  //box-shadow: none !important;
  //height: 100% !important;

  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.header {
  position: absolute;
  top: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
}

.linksBlock {
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
}

.category {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.content {
}

.icons {
  display: flex;
  gap: 20px;
}