.input {
  border: 1px solid rgba(1, 1, 1, .1);
  height: 44px;
  padding: 0 15px;
  outline: none;

  &:focus {
    border: 1px solid #777777;
  }

  &:hover {
    border: 1px solid #777777;
  }

  @media (max-width: 470px) {
    width: 100%;
  }
}

.error {
  border: 1px solid #b00000 !important;
}

.errorMessage {
  color: #b00000;
  margin-top: 3px;
}
