.content {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  padding: 0 10px;
  flex-direction: row;
  @media (max-width: 725px) {
    align-items: stretch;
    flex-direction: column-reverse;
  }
}