.wrapper {
  max-width: 2560px;
  margin: 0 auto;
  //margin-top: 70px;
  display: flex;
  @media (max-width: 770px) {
    margin-top: 60px;
    flex-direction: column;
  }
}

.fish {
  margin: 80px auto;
  width: 2560px;
}

