.content {
  display: flex;
  margin-top: 10px;
  max-width: 1500px;
  padding: 0 10px 70px 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}