.active {
  &:after {
    width: 100% !important;
	}
}

.nav {
  width: 200px;
  height: 40px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 1000px) {
    display: none;
  }
  ul {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    
    li {
      list-style: none;
      display: inline-block;
      font-family: 'Montserrat', sans-serif !important;
      text-align: center;
      position: relative;
      padding-right: 25px !important;
      font-size: 1.4rem;
      text-transform: uppercase;
      @media (min-width: 1200px) and (max-width: 2600px) {
        font-size: 13px;
      }
      @media (min-width: 2600px) {
        font-size: 14px;
      }
      @media (max-width: 1200px) and (min-width: 1000px) {
        font-size: 13px;
      }
      font-weight: 600;
      cursor: pointer;

      &:after {
        display: block;
        background-color: #000;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .4s ease-in-out;
        -moz--transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }

    .active_white {
      &:after {
        display: block;
        background-color: #fff !important;
        content: "";
        height: 2px;
        width: 0%;
        -webkit-transition: width .4s ease-in-out;
        -moz--transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
  }
}