.wrapper {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 40px;

  h1 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0;
  }
}