.wrapper {
	flex: 0 0 auto;
	height: 70px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #00000039;
	
	.logo {
		display: flex;
		width: 200px;
		align-items: center;
		margin-left: 40px;
		margin-right: 40px;
		height: 40px;
	}
	
	.additional {
		height: 40px;
		margin-right: 40px;
		margin-left: 40px;
		flex-shrink: 1;
		display: flex;
		align-items: center;
		
		.userIcon {
			cursor: pointer;
			display: flex;
			align-items: center;
			
			&:nth-child(2) {
				margin-left: 20px;
			}
		}
	}
	
	.nav {
		width: 200px;
		height: 40px;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		
		ul {
			display: flex;
			
			li {
				list-style: none;
				padding-right: 25px;
				font-size: 15px;
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
	
	.userIcon {
		a {
			margin: 0;
			padding: 0;
			height: 25px;
		}
	}
}
