.wrapper {
  padding: 92px 30px 25px 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  @media (max-width: 770px) {
    padding-top: 30px;
  }
}

.productInfo {
  flex: 1 1 50%;
}