.wrapper {
<<<<<<< HEAD
    padding: 92px 30px 25px 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
=======
  padding: 40px 30px 25px 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
>>>>>>> main
}

.productInfo {
  flex: 1 1 50%;
}