.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	// overflow: hidden;
}

.outlet {
	flex: 1 0;
	min-height: 100%;
	margin-top: 70px;
}

.footer {
	flex: 0 0;
}
