.wrapper {
  flex: 0 0 auto;
  height: 60px;
  display: none;
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #00000039;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }
  @media (max-width: 770px) {
    display: flex;

  }


  .logo {
    display: flex;
    // width: 200px;
    align-items: center;
    position: absolute;
    justify-content: center;
    margin: auto;
    height: 40px;
    width: 100%;
    text-align: center;
  }


  .userIcon {
    a {
      margin: 0;
      padding: 0;
      height: 25px;
    }
  }
}

.hamb {
  width: 24px;
  height: 24px;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
  align-items: center;
  margin-left: 20px;
  display: none;
  @media (max-width: 1000px) {
    display: flex;
  }
}
