.wrapper {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 240px;
}

.form {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	// margin-top: 140px;
}

.authTitle {
	font-size: 20px;
	margin-bottom: 24px;
	font-weight: bold;
}

.content {
	display: flex;
	align-items: center;
	flex-direction: column;
	// margin-bottom: 250px;
}

.input {
	height: 44px;
	width: 392px;
	border: 1px solid #999999;
	padding: 0 15px;
	outline: none;
	
	&:focus {
		border: 1px solid #000;
	}
	
	&::-webkit-input-placeholder {
		color: #999999;
		font-size: 14px;
		font-weight: 14;
	}
	
	&::-moz-placeholder {
		color: #999999;
		font-size: 14px;
		font-weight: 14;
	}
	
	&:-ms-input-placeholder {
		color: #999999;
		font-size: 14px;
		font-weight: 14;
	}
	
	&::-ms-input-placeholder {
		color: #999999;
		font-size: 14px;
		font-weight: 14;
	}
	
	&::placeholder {
		color: #999999;
		font-size: 14px;
		font-weight: 14;
	}
	
	&:focus::-webkit-input-placeholder {
		color: #000;
	}
	
	&:focus::-moz-placeholder {
		color: #000;
	}
	
	&:focus:-ms-input-placeholder {
		color: #000;
	}
	
	&:focus::-ms-input-placeholder {
		color: #000;
	}
	
	&:focus::placeholder {
		color: #000;
	}
}

.errorMessage {
	color: #b00000;
	margin-top: 3px;
	text-align: left;
	width: 100%;
	font-size: 14px;
	margin-top: 5px;
}
