.wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
  // max-width: 2560px;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none !important;
  border: none !important;
}

.load {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 0 auto;
  // max-width: 2560px;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none !important;
  border: none !important;

}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  height: 100% !important;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.35;
  height: 100%;
  width: 100%;
}