.wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin: 0 auto;
  max-width: 2560px;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: none !important;
  border: none !important;
  margin-top: -15px;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  height: 100% !important;
}

.text {
  position: absolute;
  width: 100%;
  top: 40%;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.35;
  height: 100%;
  width: 100%;
}

.bot {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 15px;
  width: 100%;
  @media (min-width: 2600px) {
    height: 50px;
  }
  background-color: #fff;
}

.top {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 15px;
  @media (min-width: 2600px) {
    height: 50px;
  }
  width: 100%;
  background-color: #fff;
}