.images {
  flex: 0 0 50%;
  z-index: 1;
}

.productImage {
  width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100vh;
}

.swiper {
  display: none;
  @media (max-width: 666px) {
    display: flex;
  }
}

.imgList {
  @media (max-width: 666px) {
    display: none;
  }
}