
.title {
  display: flex;
  padding-left: 0px;
  color: #333;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  display: flex;
  padding-left: 0px;
  align-items: center;
  gap: 10px;
  width: 88px;
  flex: 1 0;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.name {
  color: #333;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  line-height: 100%; /* 12px */

}

.item {
  display: flex;
  padding: 5px 0px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  color: #333;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  text-decoration: none;

}

.top {
  align-items: center;
  display: flex;
  height: 68px;
  margin-top: 63px;

  padding: 0px 20px;
  width: 100%;

  .contentTOP {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 21px;
    align-self: stretch;
  }
}

.root {
  display: none;
  @media (max-width: 790px) {
    display: flex;
  }
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 70;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  display: flex;
  padding: 0px 20px 20px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}