.header {
  position: absolute;
  top: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
}

.linksBlock {
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.categoryTitle {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.categoryTitleRight {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  text-align: right;
}

.category {
  font-size: 14px;
  
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  width: max-content;

  &:after {
    display: block;
    background-color: #fff;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}

.categoryRight {
  font-size: 14px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  position: relative;
  width: max-content;

  &:after {
    display: block;
    background-color: #fff;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .2s ease-in-out;
    -moz--transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
  }
  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}

.block {
  
}

.listWrapper {
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  gap: 20px;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}